                        WARNING! Private Computer System
                        System Owner: {{ ssh_config.orgname }}

 ,****************************************************************************,
 *  AUTHORIZED USERS ONLY.                                                    *
 *                                                                            *
 *  THIS IS A PRIVATE COMPUTER SYSTEM!                                        *
 *  This computer system including all related equipment, network devices     *
 *  (specifically including Internet access), are provided only for           *
 *  authorized use. The information on this computer is protected by          *
 *  intellectual property rights. Unauthorized access to this system is       *
 *  forbidden and will result in account forfeiture or prosecution under      *
 *  the law. By accessing this system, you agree that your actions WILL be    *
 *  monitored if unauthorized use is suspected.                               *
 `****************************************************************************`
