ChallengeResponseAuthentication no
UsePAM yes
Protocol 2
Ciphers aes128-ctr,aes192-ctr,aes256-ctr
KexAlgorithms ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group14-sha1,diffie-hellman-group-exchange-sha256
MACs hmac-sha2-256,hmac-sha2-512
UsePrivilegeSeparation yes
KeyRegenerationInterval 3600
ServerKeyBits 2048
SyslogFacility AUTH
LogLevel VERBOSE
LoginGraceTime 120
PermitRootLogin without-password
StrictModes yes
RsaAuthentication yes
PubkeyAuthentication yes
PasswordAuthentication no
IgnoreRhosts yes
RhostsRsaAuthentication no
HostBasedAuthentication no
PermitEmptyPasswords no
X11Forwarding yes
X11DisplayOffset 10
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes
Banner /etc/issue.net
Subsystem sftp /usr/lib/openssh/sftp-server
